.myportfolio {
    width: 600px;
    display: grid;
    margin: 10px;
     
    grid-gap: 10px;
    grid-template-columns: 200px 400px;
    grid-template-rows: 100px 225px 430px;   
    grid-template-areas: 
        "header header"
        "photo information"
        "jobs jobs";
}


.ads{
 grid-area: reklama;   
    
}

header {
    
    grid-area: header;
    
    color: black;
    background: white;
    text-decoration-color: white;
    text-align: center;
    letter-spacing: 5px;
    line-height: 2; 
    text-shadow: 0px 0px black;
     border: 1.5px dashed black;
}

.photo {

    grid-area: photo;
    
}
.photo>.circle{
    background: #ffffff url("myphoto.jpg") no-repeat center;
    width: 200px;
    height: 200px;
    
    color: white;
    border-radius: 50%;
    text-align: center;
    margin: 12px 0px;
    

    
    
}



.information {
    grid-area: information;
    color: black;
    background: white;
    text-align: left;
    border: 1.5px dashed black;
    
    
    
}

.jobs {
    grid-area: jobs;
    
    color: white;
    background: ;
    text-align: center;
    border: 1.5px dashed black;
    
}

.gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 290px;
    height: 200px;
    
}


