.myportfolio {
    width: 100%;
/*    display: grid;*/
   
     
/*    grid-gap: 10px;*/
    grid-template-columns: 50% 50%;
    grid-template-rows: 15% 10% 50% 25%;   
    grid-template-areas: 
        "header header"
        "photo information"
        "jobs jobs"
        "contact contact";
}


.ads{
 grid-area: reklama;   
    
}

header {
    
    grid-area: header;
    
    color: white;
    background: black;
    text-decoration-color: white;
    text-margin: 10%;
    text-align: center;
/*    letter-spacing: 5px;*/
    line-height: 2; 
    text-shadow: 0px 0px black;
     border: 1.5px dashed black;
}

.photo {

    grid-area: photo;
    
}
.photo>.circle{
    background: #ffffff url("2.jpg") center;
    width: 100%;
    height: 600px;
    
    color: white;
/*    border-radius: 50%;*/
    text-align: center;
/*    margin: 20% 25%;*/
    

    
    
}



.information {
    grid-area: information;
    color: white;
    background: black;
    text-align: center;
    border: 1.5px dashed black;
    
    
    
}

.jobs {
    grid-area: jobs;
    
    
    background:black ;
    text-align: center;
    border: 1.5px dashed black;
    
}

.gallery{
    margin: 5px;
/*    border: 1px solid #ccc;*/
    float: left;
/*
    width: 50%;
    height: 50%;
    
*/
}

.contact {
    grid-area: information;
    color: white;
    background: black;
    text-align: center;
    border: 1.5px dashed black;
    
    
    
}



